.left{
    color:grey;
    text-align:center;
    background-color: red;
}
h1{
    color:red;
}
h2{
    color: red;
    text-align: right;
    background-color:rgb(234, 241, 182);
}
#para1{
    color: yellow;
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}
a{
    color: red;
}

footer{
    color: white;
    text-align: right;
}
body{
    margin: 10px 20px 20px 20px;
    background-color: black;
    font-family: 'Cabin', sans-serif;

}
.purple-text{
    text-color: purple;
}
button{
    width: 250px;
    background-color: teal;
    border: 20px solid red;
    border-top:5px solid green;
}

.ugly, .beautiful, button{
    width: 250px;

}
.beautiful{
    background: transparent;
    border: 2px solid blue;
    border-radius: 10px
    padding: 10px;
    text-align: center;
}
.beautiful:hover{
    transform: scale(2)
}
