.left{
    color:grey;
    text-align:center;
    background-color: red;
}
h1{
    color:red;
}
h2{
    color: red;
    text-align: right;
    background-color:rgb(234, 241, 182);
}
#para1{
    color: yellow;
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}
a{
    color: red;
}

footer{
    color: white;
    text-align: right;
}
body{
    margin: 10px 20px 20px 20px;
    background-color: grey;
    font-family: 'Cabin', sans-serif;

button{
    width: 200px;
    background: transparent ;
    border: 5px solid red;
    border-radius: 5px solid green;
}
/*above is for index.html*/
/*below is for about.html*/
